<!-- frontend/templates/frontend/index.html --> 
<!DOCTYPE html> 
<html lang="en"> 
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <title>React in Django</title>
    <!-- Load the static tag library -->
  {% load static %}
</head> 
<body> 
  <div id="root"></div> 
  <script src="{% static 'js/main.0b0377de.js' %}"></script> 
</body> 
</html>
<!-- C:\Users\user\Documents\GitHub\django-react\flixchatt\flixproject\flix-react\build\static\js\main.7caec32f.js.map -->
 <!-- static/build/static/js/main.0b0377de.js.map -->